<!-- using bootsrap  -->
<div class ="container">   
    <div class="row">
<!-- angular directives ngModel and their value is similar as the paragraph -->
<!-- simple app create
<input type="text" [(ngModel)]="name">      
<p>{{myName}} {{name}}</p> -->
<h3>I'm in the AppComponent!!</h3>
<hr>
<!-- using custom html tag which created manually-->
<app-server></app-server>
 
<!-- using custom html tag <app-servers> which create by the cli generator  -->
<app-servers></app-servers>
    </div>
</div>

